@model IEnumerable<MVC_EmployeeManagement.Model.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}


<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr >
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

<div class="card-deck">
    @foreach (var employee in Model)
    {
        var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.jpg");
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.FirstName</h3>
            </div>
            <img class="card-img-top" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">View</a>
                <a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">Edit</a>
                <a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
            </div>

        </div>
    }

</div>
